body {
  background: black;
}
.App {
  text-align: center;
  color: #e2a213;
}

#DeltaFiveLogo {
  height: 200px;
  width: auto;
}

#contact {
  background-color: white;
  padding: 20px;
  color: black;
}

label {
  display: block;
  margin-bottom: 10px;
}
